body {
	background-color: rgb(219,219,219);
	font-family: "Courier New", Courier, sans-serif;
}
#box2 {
	border: 3px double;
	background-color: white;
	text-align: center;
	margin: 10px auto;
	width: 900px;
	padding: 25px 100px;
}
#box3{
	margin: 0px auto;
	width: 600px;
}
li{
	display: inline-block;
	margin: 10px 20px;
}
ul {
	border-top: solid;
	border-bottom: 2px solid;
}
a {
	color: grey;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	font-size: 1.2em;
}
